body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h1 a{
  color:#fff;
  text-decoration: none;
}

h1 a:hover{
  color:#bfb7b7;
  text-decoration: none;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

/*grid layout*/
body {
    margin: 0px;
  }
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: #fff;
          color: #000;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "content"
       "footer"
    }
  
    @media only screen and (min-width: 300px)  {
      .wrapper {
          grid-gap: 1px;
      }
      .box{
        padding: 10px;
      }
      img{
        max-width: 220px;
      }
      .gist{
        max-width: 2460px;
      }
    }

      @media only screen and (min-width: 500px)  {
        .wrapper {
            grid-gap: 1px;
        }
        .box{
          padding: 10px;
        }
        img{
          max-width: 250px;
        }
        .gist{
          max-width: 460px;
        }
      }

      @media only screen and (min-width: 700px)  {
        .wrapper {
            grid-gap: 1px;
        }
        .box{
          padding: 10px 100px 10px 100px;
        }
        img{
          max-width: 250px;
        }
        .gist{
          max-width: 500px;
        }
      }
  
      @media only screen and (min-width: 900px)   {
          .wrapper {
              max-width: 100%;
          }
          .box{
            padding: 10px 250px 10px 100px;
          }
          img{
            max-width: 400px;
          }
          .gist{
            max-width: 500px;
          }
      }
      @media only screen and (min-width: 1200px)   {
       
        img{
          max-width: 800px;
        }
        .gist{
          max-width: 100%;
        }
    }
  
  .box {
    font-size: 100%; 
  }
  
  .header,
  .footer {
    background-color: #212121;
    height: 130px;
  }

  .footer a{
    color: #fff;
    text-decoration: none;
  }
  .footer a:hover{
    color:#bfb7b7;
    text-decoration: none;
  }
/*end grid layout*/

.posts{
  font-size:1.1em;
  list-style: none;
}

img{
  margin: 10px 0px 10px 30px;
}

  #project_tagline {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
  }
