/*grid layout*/
body {
    margin: 0px;
  }
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: #fff;
          color: #444;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "content"
       "footer"
    }
  
      @media only screen and (min-width: 500px)  {
        .wrapper {
            grid-gap: 1px;
        }

        .sidebar2{display: none;}
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
              max-width: 100%;
          }

      }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 0px;
    padding: 10px;
    font-size: 150%; 
  }
  
  .header,
  .footer {
    background-color: #999;
    height: 180px;
  }
